<br><br><br>
<div style="margin-left: 350px;">
  <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User Activity Report</h1>
  <table border="1">
    <tr>
      <td width=150px>
        User Name
      </td>
      <td>
        Number of Posts
      </td>
      <td>
        Number of Comments
      </td>
      <td>
        Number of Votes
      </td>
    </tr>
    <% @all_users_for_report.each do |user_for_report| %>
        <tr>
          <td><%= user_for_report.username %></td>
          <td align="center"><%= number_of_posts_per_user(user_for_report.id) %></td>
          <td align="center"><%= number_of_comments_per_user(user_for_report.id) %></td>
          <td align="center"><%= number_of_votes_per_user(user_for_report.id) %></td>
        </tr>
    <% end %>
  </table>
  <br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to 'Back to Admin Tools', admin_path %>
</div>
<br><br>


