

<div class="notice" style="color:#8b0000;margin-left:20px;"><%= notice %></div>
<div style="width:100%;">
  <h1 style="text-align: center">Welcome to Backchannel application.</h1>
  <br><br><br>
<div style="float:left; width:20%;">
      <!-- Set Div As your requirement -->
</div>
<div style="float:right; width:80%; margin-left:10px; border-left: 2px solid #008b8b; padding: 10px;">
      <h3>Posts from everyone: </h3><br>

  <% @posts.each do |post| %>
      <div style="font-size: 30px;"><%= post.content %>&nbsp;&nbsp;<i>by <%= post.user.username %></div>  <br>
      <table>
        <tr>
          <td><%= no_of_comments = Comment.count_by_sql("select count(*) from comments where post_id='" +post.id.to_s + "'")
                  no_of_comments.to_s %> comments
          </td>
          <td>
            <%= no_of_votes = Vote.count_by_sql("select count(*) from votes where post_id='" +post.id.to_s + "'")
                no_of_votes.to_s %> votes
          </td>
        </tr>
        <tr>
          <td><%= link_to 'Show', post %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      </table>
      <br>
    <% end %>
    <%= link_to 'New Post', new_post_path %>
  </div>
</div>

