

<div class="notice" style="color:#8b0000;margin-left:20px;"><%= notice %></div>
<div style="width:100%;">
<div style="float:left; width:5%;">
      <!-- Set Div As your requirement -->
</div>
<div style="float:right; width:95%; border-left: 2px #008b8b; padding: 10px;">
      <h3>Posts from everyone: </h3><br>

  <% @posts.each do |post| %>
      <table>
        <td>
          <div style="font-size: 18px;"><%= post.content %>&nbsp;&nbsp; <i>by <%= post.user.username %></i></div>
        </td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <tr>
          <td><%= link_to 'Show Post', post %></td>
          <% unless current_user.id != post.user_id %>
              <td><%= link_to 'Edit Post', edit_post_path(post) %></td>
          <% end %>
          <td>&nbsp;&nbsp;</td>
          <% if current_user.id == post.user_id || admin_user?%>
              <td><%= link_to 'Delete Post', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <% if admin_user? %>
            <% post.comments.each do |comment| %>
                <tr>
                  <td>
                    <div style="margin-bottom: 15px;"><%= comment.content %> <div style="font-size: 12px;"><i>by <%= comment.user.username %></i></div> </div>
                  </td>
                  &nbsp;&nbsp;
                  <td>
                    <div style="margin-left: 30px; margin-bottom: 15px;">
                      <%= link_to 'Delete Comment',[comment.post, comment],:confirm => 'Are you sure?',:method => :delete %>
                    </div>
                  </td>
                </tr>
                <% end %>
        <% end %>
        <% unless admin_user? %>
              <td><%= no_of_comments = Comment.count_by_sql("select count(*) from comments where post_id='" +post.id.to_s + "'")
                      no_of_comments.to_s %> comments,
              </td>
              <td>
                <%= no_of_votes = Vote.count_by_sql("select count(*) from votes where post_id='" +post.id.to_s + "'")
                    no_of_votes.to_s %> votes
              </td>
        <% end %>
        <tr>&nbsp;</tr> <tr>&nbsp;</tr><tr>&nbsp;</tr>
      </table>
      <br>
    <% end %>
  <% if admin_user? %>
    <%= link_to 'Back to Admin Tools', admin_path %>
  <% end %>
  </div>
</div>

