<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  Comments :
  <%= Comment.find_all_by_post_id(@post.id) %>
</p>

<td>Number of Votes:
  <%=
      voters = Vote.find_by_sql("select user_id, username from votes join users where votes.user_id = users.id and votes.post_id= " + @post.id.to_s)

      has_current_user_voted = false
      voters.each do |voter|
        if voter[:user_id] == return_current_user
          puts voter[:user_id]
           has_current_user_voted = true
        end
      end

      return_string = ""
      if has_current_user_voted == false
        return_string = voters.size.to_s + " users have voted for this post"
      elsif
      return_string = "You and " + (voters.size - 1).to_s + " users have voted for this post"
      end
      return_string
  %>
</td>

<br>

<!-- Vote for the post -->
<%= link_to 'Vote', :controller => "votes", :action => "new", :post_id => @post.id %>

<!-- Comment on the post -->
<%= link_to 'Comment', :controller => "comments", :action => "new", :post_id => @post.id %>


<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Back', posts_path %>
