<p id="notice"><%= notice %></p>

<div style="text-align: center;">
  <table>
    <tr>
     <td>
       <b><%= @post.content %> &nbsp;&nbsp;<i>by <%= @post.user.username %> &nbsp;&nbsp;&nbsp;</i> </b>   <!-- Vote for the post -->
     </td>
     <td>
        <%=
            voters = Vote.find_by_sql("select user_id, username from votes join users where votes.user_id = users.id and votes.post_id= " + @post.id.to_s)

            has_current_user_voted = false
            voters.each do |voter|
              if voter[:user_id] == return_current_user
                puts voter[:user_id]
                has_current_user_voted = true
              end
            end

            return_string = ""
            if has_current_user_voted == false
              return_string = voters.size.to_s + " users have voted for this post"
            elsif
            return_string = "You and " + (voters.size - 1).to_s + " users have voted for this post"
            end
            return_string
        %>
      </td>
      <td>
        &nbsp;&nbsp;&nbsp;
        <%= link_to 'Vote', :controller => "votes", :action => "new", :post_id => @post.id %>
      </td>
    </tr>
  </table>
</div>
<br>
<div>
    <div style="border: 1px">
    <table>
      <tr>
        <td>
          <table>
          <% @post.comments.reverse.each do |comment| %>
                <tr>
                  <td>
                    <div style="margin-left: 30px; margin-bottom: 15px;"><%= comment.content %> <i>by <%= comment.user.username %></i> </div>
                  </td>
                  <td>
                    <!--%=
                    voters = Vote.find_by_sql("select user_id, username from votes join users where votes.user_id = users.id and votes.comment_id= " + @post.id.to_s)

                    has_current_user_voted = false
                    voters.each do |voter|
                    if voter[:user_id] == return_current_user
                        puts voter[:user_id]
                     has_current_user_voted = true
                    end
                   end

                    return_string = ""
                    if has_current_user_voted == false
                   return_string = voters.size.to_s + " users have voted for this post"
                     elsif
                  return_string = "You and " + (voters.size - 1).to_s + " users have voted for this post"
                     end
                  return_string
                           % -->
                  </td>
                  <td>
                    <div style="margin-bottom: 15px;"><%= link_to 'Vote', :controller => "votes", :action => "new", :comment_id => comment.id %></div>
                  </td>
                </tr>
          <% end %>
          </table>
        </td>
      </tr>
      <tr>
      <%= form_for([@post, @post.comments.build]) do |f| %>
              <td>
                <div style="margin-left: 25px;" class="field">
                  <%= f.text_field :content %>
                </div>
              </td>
              <td>
                <div class="actions">
                  <%= f.submit %>
                </div>
              </td>
            </tr>
      </table>
      <% end %>
    </div>
</div>
<br>

<div>
  <%= link_to 'Edit', edit_post_path(@post) %>
  <%= link_to 'Back', posts_path %>
</div>

