<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  Comments :
  <%= Comment.find_all_by_post_id(@post.id) %>
</p>

<p>
  No of votes :
  <%= Vote.count_by_sql "select count(*) from votes where post_id='" +@post.id.to_s + "'" %>
</p>

<p>
  <%= render 'votes/form' %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Back', posts_path %>
