<h1>Listing users</h1>

<table width = "500">
  <tr>
    <th style="text-align: left;">Username</th>
    <th style="text-align: left;">Password</th>
    <th></th>
    <th></th>
    <th style="text-align: left;">Admin Role</th>
  </tr>
  <tr>&nbsp;</tr><tr>&nbsp;</tr><tr>&nbsp;</tr><tr>&nbsp;</tr><tr>&nbsp;</tr><tr>&nbsp;</tr><tr>&nbsp;</tr><tr>&nbsp;</tr>
<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.email %> </td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% if user.admin_flag == 0 %>
        <td><%= link_to 'Enable', update_user_path(:id => user.id,:perform =>"enable") %></td>
    <% else %>
        <td><%= link_to 'Disable', update_user_path(:id => user.id,:perform =>"disable") %></td>
    <% end %>
  </tr>
      <tr>&nbsp;</tr><tr>&nbsp;</tr><tr>&nbsp;</tr><tr>&nbsp;</tr><tr>&nbsp;</tr><tr>&nbsp;</tr><tr>&nbsp;</tr><tr>&nbsp;</tr>
<% end %>
</table>

<br />

<%= link_to 'Back to Admin Tools', admin_path %>
<!--
    <%= link_to 'New User', new_user_path %>

--->
