<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%=
     password = ""
     i=0
     until i==@user.password.size
       password << "*"
       i += 1
     end
     password
  %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Home Page', posts_path %>
